body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; 
  }

  .main-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white; 
  }

  .child {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px; 
  }